{{>navbar}}

    <div class = "container-fluid mb-5">
        <h2> New category </h2>
        <div class = 'form-group'
            <label for = 'category-name'>Category name</label> 
            <input type = "textbox" id = 'category-name' class = "form-control">
        </div>
        <button onclick = "addNewCategory()" class = "btn btn-primary">Add this category</button>
        <a href = '/employee/categories' class = "btn btn-warning">Go back</a>
    </div>

