{{>navbarc}}

    <div class = "container-fluid mb-5 mt-3">
        <div class = "row">
            <div class = "col form-group">
                <button class = "btn btn-primary" onclick = "revealNew()">I am a new customer</button>
            </div>
            <div class = "col form-group">       
                <button class = "btn btn-primary" onclick = "revealOld()">I am a returning customer</button>
            </div>
        </div>

        <div id = 'customer-new' class = 'invisible'>
            <div class = "form-row">
                <div class = "form-group col">
                    <label for = "fname">First name</label>
                    <input type = "textbox" id = "fname" class = "form-control">
                </div>
                <div class = "form-group col">
                    <label for = "lname">Last name</label>
                    <input type = "textbox" id = "lname" class = "form-control">
                </div>
                <div class = "form-group col">
                    <label for = "pnumber">Phone number</label>
                    <input type = "textbox" id = "pnumber" class = "form-control">
                </div>
            </div>
            <div class = "col">
                <button class = "btn btn-primary" onclick = "addInfo()" >Add me!</button>
            </div>
        </div>
        <div id = 'customer-old' class = 'invisible'>
            <select id = 'choose-old' class = 'form-control'>
                {{#each customers}}
                    <option value = "{{id}}">{{fname}} {{lname}}</option>
                {{/each}}
            </select>
            <button class = "btn btn-primary" onclick = "viewInfo()" >View my info</button>
        </div>
    </div>
