{{>navbari}}

<div class = "container-fluid mt-3">
		<p> 
			Hi. <br />
			Welcome to S-Mart. 
		</p>
		<p>
			<a href = "/employee">Employees click here.</a> <br />
			<a href = "/customer">Customers click here.</a>
		</p>
        <div id = "credits">
            Content produced by:
		    <ul> 
                <li> Ben Martin (ONID: martinb3) </li>
                <li> Nathan Crozier (ONID: croziena) </li>
		    </ul>
        </div>
</div>
