		<p> 
			Hi. <br />
			Welcome to S-Mart. 
		</p>
		<p>
			<a href = "http://web.engr.oregonstate.edu/~martinb3/CS-340/employee.html">Employees click here.</a> <br />
			<a href = "http://web.engr.oregonstate.edu/~martinb3/CS-340/customer.html">Customers click here.</a>
		</p>
        <div id = "credits">
            Content produced by:
		    <ul> 
                <li> Ben Martin (ONID: martinb3) </li>
                <li> Nathan Crozier (ONID: croziena) </li>
		    </ul>
        </div>
